body {
    background-color: black;
  }

.modal-button {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.error-msg {
    color:red;
    display: block;
}

.success-msg {
    color:green;
    margin-right: 7rem;
}

.dashboard {
    font-size: 7rem;
    margin: 25rem;
    color: dodgerblue;
}

